---
import Section from "../Section.astro";
import { languages } from "@cv";
---

<Section title="Lenguajes">
    <ul>
        {
            languages.map(({ language, test, level, score }) => {
                return (
                    <li>
                        <article>
                            <header>
                                <h3>{language}</h3>
                                <p>
                                    {test} {score}
                                </p>
                                <p>{level}</p>
                            </header>
                        </article>
                    </li>
                );
            })
        }
    </ul>
</Section>

<style>
    ul {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        gap: 1rem;
    }
    article {
        border-radius: 8px;
        border: 1px solid #f2f2f2;
        gap: 16px;
        display: flex;
        flex-direction: column;
        padding: 16px;
        height: 100%;
    }
    article header {
        flex: 1;
    }
    article h3 {
        margin-bottom: 4px;
    }
    article a {
        color: #111;
    }
    article a:hover {
        text-decoration: underline;
    }
    article p {
        font-size: 0.75;
        line-height: 1.2rem;
        margin-bottom: 4px;
    }
    article h3 span {
        color: rgb(100, 14, 119);
    }
    article footer {
        display: inline-flex;
        flex-wrap: wrap;
        gap: 4px;
        font-size: 0.6rem;
    }
    footer span {
        border-radius: 6px;
        background: #eee;
        color: #444;
        font-size: 0.6rem;
        font-weight: 500;
        padding: 0.2rem 0.6rem;
    }
</style>
